/* @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Roboto', sans-serif;   
}
header{
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}
header nav{
    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
}
body{
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}
.footer h4{
    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
}
.footer nav{
    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
}

nav div a:hover{
        color:rgb(58, 45, 56) ;
        background-color: #da6bb5e1;
    }
.row,.mapa{
    margin-top: 10px;
} */
