.footer h4{
    background-image: map-get($colores , "secundario");
}
.footer nav{
    background-image: map-get($colores , "secundario");
}
.footer h4{
    font-size: 40px;
}
#navbarNavAltMarkup a{
    font-size: 30px;
}